{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}

{{ partial "2-up" .Params }}

{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "text-and-image-left" (dict "heading2" .Params.values.heading "text2" .Params.values.text "buttonText" "Read more" "buttonLink" "/test1") }}

{{ partial "text-and-image" (dict "heading3" .Params.values.heading "text3" .Params.values.text "buttonText" "Read more" "buttonLink" "/test2") }}

{{ partial "text-and-image-left" (dict "heading4" .Params.values.heading "text4" .Params.values.text "buttonText" "Read more" "buttonLink" "/test3") }}

{{ end }}
